<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <proxies>
    <proxy>
      <id>HttpProxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>genproxy.amdocs.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>
    
    <proxy>
      <id>HttpsProxy</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>genproxy.amdocs.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>

  </proxies>
</settings>